body{
  background-color:#010101;
}

.App {
  text-align: center;
}

.App-footer {
  color:white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 10px;
  background-color: #212529;
}
.App-logo {
  max-width: 100px;
  display: block;
  margin-left: 100px;
  padding: 10px;
 
}

.App-header{
  background-color: #212529;
  margin-bottom: 10px;
  width: 100%;
}

.SimilarDefinition{
  display: none;
}
.Dictionary {
  margin-top: 100px;
}
.Dictionary section{
  background-color: white;
  padding-bottom: 20px;
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 10px;
  text-align: left;
  border-radius: 5px;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  margin:20px 0;
}

.Dictionary #inputForm{
  width: 80%;
  border-radius: 6px;
  padding: 6px 4px;
  border: 1px solid #ddd;

}

.Dictionary #searchFormButton{
  width: 15%;
  border-radius: 6px;
  padding: 6px 4px;
  border: 1px solid #ddd;

}

.Keyword{
  text-align: left;
  font-size: 50px;
  margin: 0px;
  padding-right: 0px;
}

.Phonetics li{
  border-style: none;
  border-color: white;
  margin: 0px;
  margin-right: 20px !important;
}
#listenPhonetics {
  text-decoration: none; 
  color:#212529;
  font-size: 20px;
  margin: 0px;
  padding: 0px;
  border-color: none;
}

#ListGroup{
  font-size: 15px;
  text-align: left;
  margin: 0px;
  padding: 0px;
}

.Photos img {
  border-radius: 4px;
}

.Synonyms {
  list-style-type: none;
}